.job-content{
    position: absolute;
    width: 96%;
    height: 1000px;
    margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	left:70px;
	right: 10px;
    top: 80px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
	-webkit-border-radius:10px;
	border:none;
	background:#E5E5E5;
	box-sizing:border-box;
	display: block;
}
.job-content .title{
    position: absolute;
    width: 100%;
    height: 94px;
    background: gray;
    border-radius: 10px 10px 0px 0px;
}
.job-content .title p{
    font-style: normal;
	text-align: center;
    font-size: 36px;
    line-height: 54px;
    margin-top: 20px;
    color:white;
}
.job-content input[type="text"],
.job-content #select{
	padding:5px 3px;
	box-sizing:border-box;
	width:300px;
	outline:none;
	transition:all 0.2s ease;
	border-width: 1px;
    height: 49px;
	-webkit-border-radius: 10px;
	background:#ECECEC;;
	font-family: Poppins;
}
.job-content .job-Info{
    margin-top: 119px;
    margin-left: 90px;
}
.j-1stform,
.srange,
.skills,
.job-desc{
    margin-bottom: 10px;
}
.j-2ndform .innerform{
    float: left;
}
.j-2ndform .innerform .label{
    width: 150px;
}
.j-2ndform .innerform #select{
    width: 250px;
    background:#ECECEC;
    margin-right: 50px;
}
.srange
{
    clear:both;
}
.skills input[type="text"]{
    margin-bottom: 10px;
    
}
#add{
	cursor: pointer;
	border:none;
	background: #800000;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
    color:white;
	width: 150px;
	height: 35px;
    margin-top: 10px;
	margin-left: 20px;
}
.job-desc textarea{
    padding:5px 3px;
	box-sizing:border-box;
	width:400px;
	outline:none;
	transition:all 0.2s ease;
	border-width: 1px;
    height: 100px;
	-webkit-border-radius: 10px;
	background:#ECECEC;;
	font-family: Poppins;

}
#s-draft{
    cursor: pointer;
	border:none;
	background: #888888;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
    color:white;
	margin-left: 100px;
	width: 150px;
	height: 35px;
    margin-top: 10px;
	
}
#post-job{
	cursor: pointer;
	border:none;
	background: #800000;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
    color:white;
	width: 220px;
	height: 35px;
    margin-top: 10px;
	margin-left: 100px;
}
.job-content .btn-down button{
    float: left;
    margin-left: 180px;
}

@media screen and (max-width: 630px) {

	.job-content input[type="text"],
	.job-content #select{
	transition:all 0.2s ease;
	width:130px;
	border-width: 1px;
    height: 30px;
	-webkit-border-radius: 6px;
}

#add{
	width: 100px;
	height: 30px;
    margin-top: 10px;
	margin-left: 20px;
}
.job-desc textarea{
	width:300px;
	outline:none;
	transition:all 0.2s ease;
	border-width: 1px;
    height: 70px;
	-webkit-border-radius: 10px;
	background:#ECECEC;;
	font-family: Poppins;

}

#s-draft{
	width: 100px;
	height: 30px;
    margin-top: 10px;
	
}
#post-job{
	width: 100px;
	height: 30px;
	margin-right: 30px;
}

.job-content .job-Info{
    margin-top: 119px;
    margin-left: 20px;
}


}